DEBUG=false
DOCKER=true
ENV=local
COMPOSE_PROJECT_NAME=meup
DOCKER_NETWORK=meup
MYSQL_ROOT_PASSWORD=root
SERVICE_CONSUL_HTTP_TAGS=urlprefix-consul.local.1001pharmacies.com/
SERVICE_ELASTICSEARCH_HTTP_TAGS=urlprefix-elasticsearch.local.1001pharmacies.com/
SERVICE_FABIO_ADMIN_HTTP_TAGS=urlprefix-fabio.local.1001pharmacies.com/
SERVICE_KIBANA_HTTP_TAGS=urlprefix-kibana.local.1001pharmacies.com/
SERVICE_MAILCATCHER_HTTP_TAGS=urlprefix-mailcatcher.local.1001pharmacies.com/
SERVICE_RABBITMQ_HTTP_TAGS=urlprefix-rabbitmq.local.1001pharmacies.com/
SERVICE_SELENIUM_HTTP_TAGS=urlprefix-selenium.local.1001pharmacies.com/
SERVICE_TOGGLE_API_HTTP_TAGS=urlprefix-toggle-api.local.1001pharmacies.com/
SERVICE_TOGGLE_UI_HTTP_TAGS=urlprefix-toggle-ui.local.1001pharmacies.com/
SSH_PRIVATE_KEY=~/.ssh/id_rsa
SSL_HOSTNAME=local.1001pharmacies.com
SYSCTL_VM_MAX_MAP_COUNT=262144
